$primary-font: 'Comfortaa', cursive;
$heading-font: 'Comfortaa', cursive;
$bg-black: #1C1C1C;
$dark-blue:  #1D3557;
$dark-orange: #BC6C25;
$link-bl: #283618;
$desktop-page-sp: 100px;
$container-padding-sm: 24px;
$container-padding-lg: 96px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  min-height: 100vh;

}

footer {
  background: $bg-black;
  max-height: 200px;
  padding: 10px;
  padding-left: 60px;
  bottom: 0px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: bold;
  padding: 0px 0;
}

p {
  line-height: 2rem;
}

a, a:visited {
  text-decoration: none;
  color: $link-bl;
}

a:hover {
  opacity: 0.5;
}

.current {
  border-bottom: 1px solid #1C1C1C;
}

.container {
  flex: 1 1 auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-sm;
  padding-right: $container-padding-sm;
}

.page-content {
  margin: 10px 0;
  text-align: center;
  /*h1 {background-color: #c9c8c8;} 
  h1 {padding: 40px;}
  h1 {border-radius: 20px;}*/
  h1 {border-bottom: 2px solid #1C1C1C;}
}

.employ {
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  font-size:larger;
  color:white;
  background-color:rgb(255, 78, 78);
  width:50%;
  border-radius:15px;
}
.icons:hover{
  opacity: 0.5;
}

.main-content {
  flex: 1;
}

.dark-blue {
  color: $dark-blue;
}

.dark-orange {
  color: $dark-orange;
}

.white {
  color: rgb(253, 253, 253)
}

.heading-secondary {
  font-size: 2.3rem;
  padding: 0;
}

.featured {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $heading-font;
}

img {
  max-width: 100%;
  height: auto;
}

.contact-image {
  object-fit:cover; 
  width: 100%; 
  height: 450px; 
  border:2px solid black; 
  border-radius: 15px;
}

.three-columns-1 {
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
  width: 900px;
  column-width:100px;
  padding: 0px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  justify-content:space-between;
  

  &_left {
    flex: 30%;
  }
  &_mid {
    flex: 30%;
  }
  &_right {
    flex: 30%;
  }
}
.three-columns-2 {
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
  width: 900px;
  column-width:100px;
  padding: 0px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  justify-content:space-between;
  

  &_left {
    flex: 30%;
  }
  &_mid {
    flex: 30%;
  }
  &_right {
    flex: 30%;
  }
}

.two-columns {
  column-count: 2;
  column-width: 100%;
  display: flex;
  flex-wrap: wrap;

  &_top {
    padding-bottom: 10px;
  }
}

//Modal

/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* The modal's background */

li {
  list-style-type: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
  display: table;
  position: absolute;
}

/* The modal box */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 20px;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;

  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Hero section */

.hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height:500px;
  border: 2px solid #1C1C1C;
  border-radius: 15px;
  background-image: url('/Website_Lino.jpg');
  background-repeat: no-repeat;
  background-size:1100px auto;
  background-position: center;
  margin-top: 20px;


  &__header {
    font-size: 2rem;
    color: rgb(253, 253, 253);
    text-shadow: 1px 1px 5px black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    text-size-adjust:calc(1) ;

  }

}

.top-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  /*border-bottom: 2px solid #1C1C1C;*/

  & li a {
    display: block;
    text-decoration: none;
  }

  &__link {
    display: none;
    order: 1;
    width: 100%;
    text-align: center;
    margin-right: 18px;
    font-weight: 600;
  }
  
  &__logo {
    /*border-right: 2px solid #1C1C1C;*/
    width: auto;
    height: auto;
    padding: 10px 60px;

    & a {
      max-width: auto;
    }
  }

  &__link-group {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
}

/*.top-nav li a:focus,
.top-nav li a:hover {
    background-color: #BC6C25;
}*/



// Footer area

.footer-content {
  padding-top: 0px;
max-height: 100px;

  &__left-group {
    width: 50%;
    color: white;
    margin-bottom: 0px;
    max-height: 60px;
  }

  &__site-name {
    font-size: 1.8rem;
    margin-bottom: 0px;
  }

  &__right-group {
    width: auto;
    margin-bottom: 10px;
    /*& .newsletter-form {
      display: block;
    }*/
  }

  &__image {
    max-width: auto;
    height: 60px;
    position: absolute;
    right: 450px;
  }
}

.footer-social {
  width: 100%;
  display: flex;
  margin-left: 10px;
  color: white;
  max-height: 20px;

  & .icons {
    padding: 0px;
    font-size: 1.5rem;
    margin-right: 20px;

    &:first-child {
      margin-left: -12px;
    }
  }
}

.newsletter-form {
  display: flex;
  width: 100%;

  & .input-wrapper {
    position: relative;
    width: 100%;

    & .submit-arrow {
      position: absolute;
      right: 0;
      bottom: 10px;
      cursor: pointer;
    }
  }

  &__form-title {
    width: 100%;
    color: $dark-orange;
    margin-bottom: 20px;
  }

  & input {
    background: $bg-black;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid white;
    caret-color: white;
    color: white;
    font-size: 1.1rem;
    width: 100%;
  }
}

// Homepage and blog list styles

.b-hero {
  display: flex;
  margin-bottom: 40px;

  &__image {
    max-width:100%;
    margin-right: 40px;
  }

  &__info {
    max-width: 50%;
    align-self: center;
  }

  &__author-date {
    width: 100%;
    & span {
      display: block;
      padding: 10px 0;
    }
  }
  &__title {
    padding:0;
    padding-bottom: 20px;
  }
}


.image-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-row {
  display: block;
  margin-top: 20px;
  width: 100%;

  .post-front {
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
    
    &__image {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}

.post-preview {
  display: block;
  margin-bottom: 20px;

  &__left {
    width: 100%;
    max-height: 200px;
  }

  &__right {
    margin-left: auto;
    position: relative;
    width: 100%;
  }
}

.preview-title {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tag-group {
  display: flex;
  margin-top: 10px;
  width: 100%;

  & .tag {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
  
    & .tag-text {
      padding: 5px;
    }
  }
}

// Gallery styles
.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  & img {
    flex: 25%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
  }
}

.item-footer {
  margin: 20px 0 50px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  &__location {
    border-top: 2px solid black;
    padding: 10px 0;
  }

  &__bold {
    font-weight: bold;
  }

  &__status {
    display: flex;
  }

  &__left {
    width: 50%;
    padding: 10px 0;
    border-right: 2px solid black;
  }

  &__right {
    padding: 10px 0 10px 20px;
    width: 50%;
  }
}

// Map style

#map-canvas {
  width:100%; 
  height:650px; 
  border: 4px solid black; 
  margin-top: 20px;
}

.marker-info {
  display: flex;
  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__text {
    display: block;
    padding: 0 10px;
    font-size: 1rem;
  }
  &__title {
    font-weight: bold;
    border-bottom: 2px solid black;
  }
}

// Contact

.contact {
  margin-top: 40px;
  
  &__heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.staff {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.staff-member {
  margin-right: 20px;
  width: 25%;
  &__contact {
    display: flex;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &:last-child {
    margin-right: 0;
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__contacts {
    margin-left: 20px;
  }

  & .option {
    color: $dark-orange;
  }
}

// Media queries

/* Phone menu */
@media(max-width:350px){
  footer {
    position: relative;
    padding: 0;
    padding-left: 0;
  }
  .footer-content {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 200px;
    width: 400px;

    &__left-group {
    width: 100%
    }
  }
  .footer-social {
    height: 100px;
    max-width: 100px;
    align-items: right;
    margin-bottom: 20px;
  }

  .main-content {
    margin-top: 10px;
  }

  .post-preview {
    display: flex;
    margin-bottom: 20px;
  
    &__left {
      max-width: 300px;
      max-height: 200px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;
    }
  }

  .top-nav__logo {
    order: 0;    
  }

  
  .dropbtn {
    color: #414141;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

  }
  
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #414141;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .employ {
    font-size: small;
    width:100%;
  }

  .show {
  display: block;
  }


/*  .top-nav__link-group {
    order: 1;
    position: relative;
    display:table;
    width: auto;
    margin: 0 auto;
  }
*/


  .hero {
    margin-top: 40px;
    &__header {
      top: 20px;
      max-width: 350px;
    }
  }

  .post-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .post-front {
     flex-grow: 1;
      margin-left: 20px;
      width: 30%;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .three-columns-1 {
    flex-direction: column;
    height: 50%;
    max-width: 250px;
    
    &_left {
      margin-bottom: 20px;
    }
    &_mid {
      margin-bottom: 20px;
    }
  }
  .three-columns-2 {
    flex-direction: column;
    height: 50%;
    max-width: 250px;
        
    &_left {
      margin-bottom: 20px;
    }
    &_mid {
      margin-bottom: 20px;
    }
  }

  .two-columns {
    flex-direction: column;
  }

  .modal-dialog .modal-content {
    margin-top: 50px;
    width: 90%;
  }
}

/* Desktop menu */
@media (min-width: 1024px) {

  .footer {
    position: fixed;
  }

  .aims {
    background-color: #c0dbad7a;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  .post-preview {
    display: flex;
    margin-bottom: 30px;
  
    &__left {
      max-width: 350px;
      max-height: 300px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;

      .tag-group {
        display: flex;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .logo{
    height: 60px;
  }

  .top-nav__logo {
    order: 0;
    max-height: 80px;
  }

  .top-nav__link-group {
    order: 1;
    position: relative;
    display: flex;
    width:fit-content;
    margin: 0px;
  }

  .top-nav__link {
    order: 1;
    width: auto;
    text-align: center;
    display: block;
  }

  .dropdown {
    display: none;
    }

  .page-content {
    height: 500px;
    padding: 0;
    margin: 20px 0 20px 0;

    &__justify-left {
      position: relative;
      left: 0px;
      width: 50%;
    }
    &__justify-right {
      position: relative;
      right: 0px;
      width: 50%;
    }
  }


  .featured {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .hero {
    margin-top: 40px;

    &__header {
      top: 40px;
      font-size: 3rem;
      text-align: center;
    }
  }

  .container {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
  }

  .footer-content {
    display: flex;
    
    &__left-group{
      width: 60%;
      & p {
        width: 50%;
      }
    }

    &__right-group {
      width: 30%;
    }
  }

  .justify-left {
    display: block;
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
    position: absolute;
    left: 0px;
    width: 50%;
  }
    
}

