{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head> 
</head>
<body> 
    <div>
        <h1>Welcome to Maker Arts</h1>
        <br>
        <img src="/Website_Lino.jpg" style="border:2px solid black; border-radius: 15px;">
        <br>
        <br>
        <p>Maker Arts is an alternative provision run by passionate qualified teachers and mentors who believe young people who have additional barriers to learning have a safe, nurturing environment where they can feel supported and thrive to reach their full potential. Our programme of study embeds tried and tested successful methods, focusing on the individual’s needs, to help them overcome these barriers, raise their self-esteem and build confidence whilst learning new skills and working towards qualifications.</p>
    </div>
</body>
{{ end }}
